<h1>
<%= @book.title %> 
</h1>

<div>
  <div>
    <a href="/books">
      Go back
    </a>
  </div>

  <div>
    <a href="/existing_book_form/<%= @book.id %>">
      Edit book
    </a>
  </div>

  <div>
    <a href="/delete_book/<%= @book.id %>">
      Delete book
    </a>
  </div>
</div>

<dl>
  <dt>
    Title
  </dt>
  <dd>
    <%= @book.title %>
  </dd>

  <dt>
    Author
  </dt>
  <dd>
    <%= @book.author %>
  </dd>

  <dt>
    Cover
  </dt>
  <dd>
    <img src="<%= @book.cover %>">
  </dd>

  <dt>
  </dt>
  <dd>
    <a href=" <%= @book.amazon %> "> Amazon Listing </a>
  </dd>

  <dt>
  </dt>
  <dd>
    Donated by <%= @book.donator.first %> <%= time_ago_in_words(@book.created_at) %> ago
  </dd>
  
    

  <dt>
    <td>
      <% if @book.borrowed == false %>
          <div> <a href="/borrow_book/<%= @book.id %>"> Borrow Book </a> </div>
      <% else %> Checked Out
      <% end %>
    </td>
  </dt>  

  

