<h1>
 <%= @book.title %> 
</h1>

<div>
  <div>
    <a href="/borrowingcards">
      Go back
    </a>
  </div>


<% if @book.borrowed == true %>

  <dt> 
    <form action="/new_borrowingcard_form" method="get">
        <div>
    <input type="hidden" id="book_id" name="book_id" value="<%= @book.id %>">
    <input type="hidden" id="borrower_id" name="borrower_id" value="<%= current_user.id %>">
      </div>
        <label for="borrowed"> Check out "<%= @book.title %>" </label>
        <input type="hidden" id="borrowed" name="borrowed" type="checkbox" value="1" <%= "checked" if @book.borrowed %>>
        <div> 
          <button> Check-Out </button>
        </div>
    </form> 
   </dt>

<% else %> 

<h2> Sorry, this book has been checked out </h2>
  
<% end %>

<dl>
  <dt>
    Borrower
  </dt>
  <dd>
    <%= @borrowingcard.borrower_id %>
  </dd>

  <dt>
    Book
  </dt>
  <dd>
    <%= @borrowingcard.book_id %>
  </dd>

  <dt>
    Created at
  </dt>
  <dd>
    <%= time_ago_in_words(@borrowingcard.created_at) %> ago
  </dd>

  <dt>
    Updated at
  </dt>
  <dd>
    <%= time_ago_in_words(@borrowingcard.updated_at) %> ago
  </dd>
</dl>

